<main class="flex-shrink-0">
    <div class="p-5 mb-4 bg-light rounded-3 jumbotron">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Welcome on Stay Active</h1>
        <p class="col-md-8 fs-4">Practice sport with people around you. Join existing runs or create one to invite people to join you for exercising. Sign up to access it.</p>
         <% if not user_signed_in? %>
        <button class="btn btn-primary btn-lg" type="button">Sign up</button>
        <% end %>
      </div>
    </div>
    <% if user_signed_in? %>
    <div class="container">
        <ul>
            <li>
            Bienvenue <%= current_user.email %>
            </li>

            <li>
            <%= link_to "Secret page", static_pages_secret_path %>
            </li>

            <li>
            <%= link_to "Edit email / password", edit_user_registration_path %>
            </li>
        </ul>
    </div>
    <% else %>
    <div class="container">
        <div class="row g-2 bg-light my-3 py-3">
            <div class="col-6">
                
                <div class="card mx-auto" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Run in City name</h5>
                        <p class="card-text">Hello, join me for my running session. Will be running in Area</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Date: 29 November 2023</li>
                        <li class="list-group-item">Distance/time: 5km/ 40min</li>
                        <li class="list-group-item">Difficulty: Easy</li>
                        <li class="list-group-item">Number of people: 1/5</li>
                    </ul>
                    <div class="card-body">
                        <a href="#" class="card-link">More details</a>
                    </div>
                </div>

            </div>
            <div class="col-6">
                <div class="p-3 d-flex">
                    <div class="align-items-center">
                        All the relevant details are displayed on those cards. You can create a run or send a request to join one. More information are available on the page of the run.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% end %>

</main>