<style>
  .form_new_run {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
</style>

<div class="container">
  <div class="form_new_run">
    <h1>New run</h1>

    <%= render "form", run: @run %>

    <br>

    <div>
      <%= link_to "Back to runs", runs_path %>
    </div>
  </div>
</div>